.header {
  text-align: center;
  font-size: 30px;
  background-color: #082032;
  margin: 0 auto;
  padding: 50px;
  font-family: 'Balsamiq Sans', cursive;
}

.mar {
   margin: 0 auto;
   background: linear-gradient(to right, #F5C6AA,#F8E2CF,#FDF6F0,#FCD8D4);
   text-align: center;
   align-items: center;
   justify-content: center;
 }

 hr {
    border: 6px dotted black;
    width: 9%;
    border-bottom: none;
    }

.view1 {
  position: relative;
  background: linear-gradient(to right, #FFE459,#F43B86,#3D087B,#11052C);
  color: #F037A5;
  text-align: center;
  margin: 0 auto;
  padding: 150px;
}

.hover1 {
  position: absolute;
  background-color: #FDF6F0;
  color: black;
  border: 3px solid #FDF6F0;
  font-size: 0px;
  width: 0%;
  left: 0;
  top: 50%;
  border-radius: 40px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  visibility: hidden;
  overflow: hidden;
  transform: translate3d(60%,60%);
}

.view1:hover .hover1 {
  visibility: visible;
  transition: .8s ease-out;
  left: 50px;
  width: 40%;
  font-size: 20px;
}

.hover2 {
  position: absolute;
  background-color: #FDF6F0;
  color: black;
  border: 3px solid #FDF6F0;
  font-size: 0px;
  width: 0%;
  right: 0px;
  top: 50%;
  border-radius: 40px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  visibility: hidden;
  overflow: hidden;
  transform: translate3d(60%,60%);
}

.view1:hover .hover2 {
  visibility: visible;
  transition: .8s ease-out;
  right: 50px;
  width: 40%;
  font-size: 20px;
}

.heartdiv {
  align-items: center;
  justify-content: center;
  display: flex;
}

.heart {
  height: 70px;
  width: 70px;
  background: #f20044;
  position: relative;
  transform: rotate(-45deg);
  box-shadow: -10px 10px 90px #f20044;
  animation: heart 0.6s linear infinite;
}

@keyframes heart {
  0% {
    transform: rotate(-45deg) scale(1.07)
  }

}

.heart:before {
  content: "";
  position: absolute;
  height: 70px;
  width: 70px;
  background: #f20044;
  border-radius: 50px;
  top: -50%;
  left: -0%;
  box-shadow: -10px 10px 90px #f20044;
}

.heart:after {
  content: "";
  position: absolute;
  height: 70px;
  width: 70px;
  background: #f20044;
  border-radius: 50px;
  right: -50%;
  box-shadow: -10px 10px 90px #f20044;
}

.footer {
  background: linear-gradient(to right, #FFE459,#F43B86,#3D087B,#11052C);
  padding: 10%;
  font-family: 'Balsamiq Sans', cursive;
}
